.link { /* stylelint-disable */
  background-color: #fff;
  display: flex;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  padding: 10px;
  margin-top: 20px;
}

.votingContainer {
  padding: 15px;
}

.votingCount {
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}


.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  font-size: 16px;
}

.description {
  color: #757575;
}

.votingIcon {
  font-size: 40px;
}

.linkAnchor {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}
