/**
 * styles.css
 *
 * App container styles
 */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
*{
  box-sizing: border-box;
}
.container {
  display: block;
  margin: 10px;
}
body{
  background-color: #e5e5e5;
}
